.git
.vscode
.idea
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
.env
.env.production
*.log
docker/8.0
docker/8.1
docker/8.2
docker/8.3
docker/8.4
docker/8.5
docker/mysql
docker/pgsql
docker/mariadb
docker/nginx.conf
docker/nginx.cloudrun.conf
docker/start-cloudrun.sh
